 <div ng-controller="detailController as detail">
    
     <div class = "row"  ng-repeat = "movie in myFile| filter:{rank:myRank}:true">
<!--    <div class = "row">-->
        
        
     <a class="fa fa-chevron-circle-left fa-2x columns small-1" href="#details/{{movie.rank-1}}" ng-hide= "movie.rank == 1"></a>
    
         <div class ="columns small-10 detial-container">
             <ul >
                 <div class ="small-6 medium-2 column">
                    <img ng-src="./data/images/{{movie.imdbID}}.jpg">
                 </div>
                 <div class ="small-6 medium-10 column">
                     <div class = "detail-title"><span>{{movie.title}}</span> </div>
                        <br>
                        <span>Rank: {{ movie.rank}}</span>
                        <span>Released: {{ movie.released}}</span>
                        <span>Time: {{ movie.runtime}}</span>
                        <span>IMDB Rating: {{ movie.imdbRating}}</span>
                        <span>Awards: {{ movie.awards}}</span>
                        <br>
                        <strong> Summary: </strong>
                        <span> {{ movie.plot}}</span>
                        
                 </div>

                </ul>

             </div>
              <a class="fa fa-chevron-circle-right fa-2x columns small-1"
                 href="#details/{{movie.rank+1}}" ng-hide= "movie.rank == 250"></a>
         </div>



<!--     -------------------- photo  -------------------->

    
      

<!--

<div>
	<div class ="row">
        {{myRank}}
    </div>
</div>
     
</div>-->
