<div class="search-holder medium-6 small-12 small-centered" >
<ul >
<!--        search box---------------------->
    <div class ="searchbox">
        <input ng-model="inputValue" type="text" placeholder="Search by name..." />
        <label>Sort By
              <select ng-model ="orderby" ng-init = "orderby = 'rank'">
                <option selected value="title" >Title</option>
                <option value="rank">Rank</option>
              </select>
        </label>

<div class="small-12">
           
            
<fieldset>
  <input class = "inputvalue" type="radio" ng-model="reverse" name="order" ng-init= "reverse = false" ng-value="false" checked> Ascending
  <input class = "inputvalue" type="radio" ng-model="reverse" name="order" ng-value="true"> Descending<br>
</fieldset> 

<!--
<p> Ordery By Val: {{ orderby }}</p>            
<p>Reverse Val:  {{ reverse }}</p>
-->

     </div>    
     </div>  
    
<!--
    <label class="small-12">
        Ascending / Dscending 
        
     <button ng-click="order.toggle()" class="secondary button">
        <span ng-show="order.isAscending()" class="fa fa-chevron-circle-up"></span>
        <span ng-hide="order.isAscending()" class="fa fa-chevron-circle-down"></span>
     </button>
        
    </label>       
-->


</ul>





<!--display list of movive -->
<div >
    
         <ul class ="row eachmovie" ng-repeat = "movie in myFile| filter:inputValue | orderBy:orderby:reverse">
             <div class ="small-6 medium-2 column">
               <a href="#details/{{movie.rank}}"> <img ng-src="./data/images/{{movie.imdbID}}.jpg" class="thumbnail" ></a> 
             </div>
             <div class ="small-6 medium-10 column">
                 <a class = "moviename" href="#details/{{movie.rank}}">{{movie.title}}</a>
                 <br>
                 <div>Rank:{{movie.rank}}</div>
             </div>  
          
        </ul>
</div>
    
    
</div>